NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAaoA0EuJIGxgiky6-Y4S-fWn4R7m10JHs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fmis-admin-panel.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fmis-admin-panel
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fmis-admin-panel.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=863335595595
NEXT_PUBLIC_FIREBASE_APP_ID=1:863335595595:web:8f7a668d76773df52357ce
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-VNH66478BJ
